.HomePage {
  width: 100%;
  height: 100vh;
  background-color: #040404;

  > div {
    margin-left: 80px;
  }
}

.box {
  width: 126px;
  height: 176px;
  background-color: #383a42;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 60px;
  cursor: pointer;
}

.HeadBox {
  height: 65vh;
  padding-left: 0px;
  > div > h3 {
    color: #868789;
    text-transform: uppercase;
    padding-top: 90px;
    word-spacing: 5px;
    letter-spacing: 5px;
    position: relative;
  }
  img {
    position: relative;
  }
  p {
    color: #fefefe;
    margin-right: 15px;
    margin-top: 10px;
    position: relative;
  }
  > div > h4 {
    width: 500px;
    max-height: 7rem;
    color: #fefefe;
    white-space: wrap;
    overflow: auto;
    text-overflow: ellipsis;
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  ::-webkit-scrollbar-thumb {
    background: #88800000;
  }
}

.PlayVideo {
  width: 130px;
  height: 40px;
  background-color: #f1f1f1;
  color: #040404;
  border-radius: 30px;
  font-weight: 700;
  border: none;
  position: relative;
}

.PlayInfo {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  font-weight: 700;
  margin-left: 10px;
  background: rgb(35, 37, 231);
  background: linear-gradient(
    90deg,
    rgba(35, 37, 231, 1) 0%,
    rgba(6, 24, 132, 1) 53%
  );
  border: none;
  color: #fefefe;
  position: relative;
}

.backgroundVideo {
  width: 110vw;
  height: 90vh;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
}

.TitleImage {
  width: 300px;
}

@media only screen and (max-width: 691.6px) {
  .HeadBox > div > h4 {
    width: 400px;
  }
}
@media only screen and (max-height: 675.6px) {
  .HeadBox {
    height: 55vh;
    > div > h3 {
      padding-top: 60px;
    }
    > div > h4 {
      width: 500px;
      max-height: 5.2rem;
      color: #fefefe;
      white-space: wrap;
      overflow: auto;
      text-overflow: ellipsis;
      position: relative;
      font-size: 18px;
    }
  }
  .TitleImage {
    width: 200px;
  }
}

@media only screen and (max-height: 605.6px) {
  .HeadBox {
    height: 55vh;

    > div > h3 {
      padding-top: 10px;
      font-size: 20px;
    }
  }
}

@media only screen and (max-height: 525.6px) {
  .HeadBox {
    height: 40vh;
    > div > h4 {
      display: none;
    }
  }
}
